<ul class="boards">
<% boards.forEach(function(board) { %>
  <h1><a href="#/boards/<%= board.get("id") %>"><%= board.escape("title") %></a></h1>
  <form>
   <button data-id="<%= board.get("id") %>" class="delete-board">Delete!</button>
  </form>
<% }) %>
</ul>