<ul class="boards">
<% boards.forEach(function(board) { %>
  <li class="board">
    <a href="#/boards/<%= board.get("id") %>"><%= board.escape("title") %></a>
    <form>
     <button data-id="<%= board.get("id") %>" class="delete-board btn btn-primary">Delete!</button>
    </form>
  </li>
<% }) %>
</ul>
