<li class="new">
<form>
  <input name="card[list_id]" type="hidden" value="<%= list.get("id") %>">
  <label for="title">New Card Title: </label>
  <input id="title" name="card[title]" type="text">
  <button class="create-card">Create!</button>
<form>
</li>