<div class="card">
  <a href="#">
    <%= card.escape('title') %>
    <%= card.escape('description') %>
  </a>
  <form class="delete deleteCard">
    <button data-id="<%= card.get("id") %>" class="deleteCard">&times;</button>
  </form>
  <% if (card.items()) { %>
    <ul class="items">
    </ul>
  <% } %>
</div>