<div class="new">
<form>
  <input name="list[board_id]" type="hidden" value="<%= board.get("id") %>">
  <label for="title">New List Title: </label>
  <input id="title" name="list[title]" type="text">
  <button class="createList">Create!</button>
<form>
</div>