<div class="list col-xs-3 clear">
  <div class="title list-group-item">
    <h2 class="list-title"><%= list.escape("title") %></h2>
    <form class="delete deleteList">
      <button class="remove" data-id="<%= list.get("id") %>" class="deleteList">&times;</button>
    </form>

    <div id="list-<%= list.get('id')%>-sortable" class="cards list-group connected">
    </div>
  </div>
</div>
